/* * {
    margin: 0px;
    padding: 0px;
} */

.secondmenu{
    width: 20%;
    height: 10px;
    float: right;
}

.secondmenu ul {
    margin-left: 0px;
}

.secondmenu ul li {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    color: rgb(7, 0, 0);
    font-weight: bold;
    line-height: 100px;
    margin-left: 10px;
    margin-bottom: 80px;
    text-transform: uppercase;
    cursor: pointer;
}
.secondmenu ul li a:hover{
    color: red;
}
.text {
    width: 100%;
    margin-top: 200px;
    text-transform: uppercase;
    text-align: center;
    color: black;

}
img.logo_head {
    /* width: 150px; */
    background-color: lightgrey;
    padding: 10px;
}
.col-md-6.col-lg-3.col-6.logo {
    padding: 0;
}

.text h3 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.text h1 {
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 30px 0px;
}
.text img {
    float: left;
    line-height: 100px;
    padding-left: 10px;
}
/* #button:hover {
    background-color: orangered;
    
} */

.contact{
    font-family: Arial, Helvetica, sans-serif;
    
}
.contact ul li{
    margin-top: 10px;
    margin-bottom: 10px;
     display: inline-block;
    list-style: none;
    font-size: 12px;
    color: black;
    
    margin-left: 10px;
    margin-bottom: 9px;  
 
}

ul {
    margin: 0 !important;
    
}
button.btn{
    color: #ffffff;
    background: red;
    border-radius: 0px;
    font-family: "Teko", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 40px 12px 40px;
    width: 100%;
}
button.btn:hover{
    background-color: brown;
}


.container-fluid.top li::after {
    content: "";
    height: 46px;
   
    border-right: 1px solid  #EAEBEF;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 5px 0 0;
}
.container-fluid.top {
   
    border-bottom: 1px solid #EAEBEF;

}
.container-fluid.top .col-2 {
    padding: 0;
}
.col-md-2.social-icons {
    text-align: right;
    padding-left: 30px;
}
.col-md-2.social-icons:hover a{
    color: black;
}

.button.button{
   margin: auto;
    width: 15%;
    height: 0%;
    border: none;
    
}
.button.button:hover{
    background-color: #ff6620;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
     border-bottom: black solid; 
}
.col-md-3.logo{
    background-color: lightgrey;
    padding-left: 90px;
    padding-top:30px;
    padding-bottom: 30px;
    padding-right: 40px
    
};

.col-md-7.text-center{
    color: black; 
    
}


/* .bg-image{
    width: 1355px;
    height: 60px;
    
} */
.containertext{
    padding-top: 230px;
    color: beige;
     font-size: x-large; 

}
.circle-img{
    width: 0px;
    height: 0px;
    padding-left: 600px;
    padding-top: 125px;
}



img.icon_home {
    height: 70px;
}
p.icon_txt {
    padding: 0 20px;
    font-weight: 500;
    
    
}
.d-flex.text-black.border-top.border-black {
    padding: 40px 0;
    margin: 0;
}
.getbtn{
    float: right;
}

section.secnd {
    padding: 340px 0 60px 0;
}
section.third {
    padding: 80px 0 ;
    background-color: #F2F3F6;
    font-weight: 500;
}


/* button:hover{
    background-color: #ff6620;
    border-style: solid;
    width: 100%;
    height: 50%;

} */



section.four{
    background-color:darkslategrey;
    opacity: 100%;
}
/* section.four{
    width: 1350px;
    height: 1200px;
} */
.project{
    text-align: center;
    padding-top: 10px;
    color: lightgrey;
    
}
.project h1{
    padding-top: 10px;
    font-weight: 700px;
    color: #F2F3F6;
}
.roow{
    padding-top: 70px;
}

.containerrr {
    padding: 20px;
}

/* .img-fluid {
    max-width: 100%;
    height: auto;
} */
.empty{
    background-color:#F2F3F6;;
    height: 400px;
    

}
.borderr {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 30px 0;
}
.header .row{
    align-items: center;
}
.mobile_head{
    display: none;
}

@media screen and (min-device-width: 280px) and (max-device-width: 767px)
 { 

img.logo_head {
    width: 150px;
    background-color: lightgrey;
    position: fixed;
    top: 75px;
    padding: 20px;
    height: 55px;
}

.col-md-3.logo {
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    background-color: transparent;
}
.social-icons{
    display: none;
}
/* nav.navbar.navbar-expand-lg.navbar-black {
    float: right;
} */
.container-fluid.top .col-2 {
    display: none;
}
.borderr {
    padding: 0;
    border: none;
}
.top ul{
    padding-left: 0;
}
.contact {
    text-align: center;
}
.container-fluid.top li::after{
    display: none;
}
/* .header button:hover {
    width: unset;
    height: 50%;
} */

.header.desktop{
    display: none;
}
.mobile_head{
    display: unset;
}
.mobile_head .container-fluid {
    padding-left: 0;
}
.mobile_head .navbar-nav {
    padding-left: 20px;
}
.circle-img {
    padding-left: 0px;
    padding-top: 50px;
}

 }



